@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Comfortaa", Arial, Helvetica, sans-serif;
  color: #444444;
  font-size: 9pt;
  background-color: #fafafa;
}

.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.one {
  left: 0px;
}

.two {
  left: calc(50% - 110px);
}

.three {
  left: calc(100% - 220px);
}

/* ANIMATIONS */

.roll-in {
  animation: roll-in 1300ms ease 1;
}
@keyframes roll-in {
  0% {
    left: 4px;
  }
  35% {
    left: 4px;
  }
  90% {
    left: calc(100% - 224px);
  }
  100% {
    left: calc(100% - 224px);
  }
}

.one-out {
  animation: one-out 700ms ease 1;
}
@keyframes one-out {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.one-square {
  animation: one-square 900ms ease 1;
}
@keyframes one-square {
  0% {
    opacity: 1;
    background-color: #8f9c2f;
    width: 220px;
    border-radius: 9999px;
  }
  10% {
    background-color: #8f9c2f;
    border-radius: 100px;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    background-color: #8f9c2f;
    width: 330px;
    border-radius: 0px;
  }
  90% {
    opacity: 1;
    background-color: #8f9c2f;
    width: 330px;
    border-radius: 0px;
  }
  100% {
    opacity: 0;
    background-color: #8f9c2f;
    width: 330px;
    border-radius: 0px;
  }
}

.two-out {
  animation: two-out 700ms ease 1;
}
@keyframes two-out {
  0% {
    opacity: 1;
    left: calc(50% - 110px);
  }
  90% {
    opacity: 1;
  }
  100% {
    left: 0px;
  }
}

.two-square {
  animation: two-square 900ms ease 1;
}
@keyframes two-square {
  0% {
    opacity: 1;
    left: calc(50% - 110px);
    background-color: #e93860;
    width: 220px;
    border-radius: 9999px;
  }
  10% {
    background-color: #e93860;
    border-radius: 100px;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    left: 0px;
    background-color: #e93860;
    width: 330px;
    border-radius: 0px;
  }
  100% {
    opacity: 1;
    left: 0px;
    background-color: #e93860;
    width: 330px;
    border-radius: 0px;
  }
}

.three-out {
  animation: three-out 700ms ease 1;
}
@keyframes three-out {
  0% {
    opacity: 1;
    left: calc(100% - 220px);
  }
  90% {
    opacity: 1;
  }
  100% {
    left: 0px;
  }
}

.three-square {
  animation: three-square 900ms ease 1;
}
@keyframes three-square {
  0% {
    opacity: 1;
    left: calc(100% - 220px);
    background-color: #e0c4c5;
    width: 220px;
    border-radius: 9999px;
  }
  10% {
    background-color: #e0c4c5;
    border-radius: 100px;
  }
  70% {
    opacity: 1;
  }
  77% {
    opacity: 1;
    left: 0px;
    background-color: #e0c4c5;
    width: 330px;
    border-radius: 0px;
  }
  100% {
    opacity: 1;
    left: 0px;
    background-color: #e0c4c5;
    width: 330px;
    border-radius: 0px;
  }
}

.square-up {
  animation: square-up 1500ms ease 1;
}
@keyframes square-up {
  0% {
    border-radius: 9999px;
  }
  50% {
    border-radius: 200px;
  }
  100% {
    border-radius: 0px;
  }
}

.roll-down {
  animation: roll-down 1300ms ease 1;
}
@keyframes roll-down {
  0% {
    transform: translateY(-80%);
  }
  35% {
    transform: translateY(-80%);
  }
  90% {
    transform: translateY(0px);
  }
}

.activate {
  animation: activate 1300ms ease 1;
}
@keyframes activate {
  0% {
    background-color: #504b48;
  }
  52% {
    background-color: #504b48;
  }
  100% {
    background-color: #2954b5;
  }
}

.bounce-in {
  animation: bounce-in 1s ease 1;
}
@keyframes bounce-in {
  0% {
    transform: translateY(0);
    border-radius: 9999px;
  }
  20% {
    opacity: 1;
    transform: translateY(-20px);
    border-radius: 6rem;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    border-radius: 3rem;
  }
}

.bounce-out {
  animation: bounce-out 1s ease 1;
}
@keyframes bounce-out {
  0% {
    transform: translateY(0);
    border-radius: 3rem;
  }
  20% {
    opacity: 1;
    transform: translateY(-20px);
    border-radius: 6rem;
  }
  60% {
    opacity: 1;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    border-radius: 9999px;
  }
}

.fade-in {
  animation: fade-in 1300ms linear 1;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-fast {
  animation: fade-in-fast 1000ms linear 1;
}
@keyframes fade-in-fast {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-instant {
  animation: fade-instant 500ms linear 1;
}
@keyframes fade-instant {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
