@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Comfortaa", Arial, Helvetica, sans-serif;
  color: #444444;
  font-size: 9pt;
  background-color: #fafafa;
}

.slider-frame {
  position: relative;
  width: 34%;
  padding-top: 17%; /* 1:1 Aspect Ratio */
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.square {
  aspect-ratio: 1;
}

.green {
  background-color: #8f9c2f;
}

.red {
  background-color: #e93860;
}

.pink {
  background-color: #e0c4c5;
}

.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.one {
  left: 0px;
}

.two {
  left: 50%;
  translate: -50%;
}

.three {
  left: 100%;
  translate: -100%;
}

/* ANIMATIONS */

.roll-in {
  animation-name: roll-in;
  animation-duration: 1300ms;
  animation-timing-function: ease;
  animation-delay: 0.001s;
  animation-iteration-count: 1;
  -webkit-animation-name: roll-in;
  -webkit-animation-duration: 1300ms;
  -webkit-animation-timing-function: ease;
  -webkit-animation-delay: 0.001s;
  -webkit-animation-iteration-count: 1;
}

@keyframes roll-in {
  0% {
    -webkit-left: 0%;
    left: 0%;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0, 0);
  }
  35% {
    -webkit-left: 0%;
    left: 0%;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0, 0);
  }
  90% {
    -webkit-left: 100%;
    left: 100%;
    -webkit-transform: translate(-100%, 0%);
    transform: translate(-100%, 0);
  }
  100% {
    -webkit-left: 100%;
    left: 100%;
    -webkit-transform: translate(-100%, 0%);
    transform: translate(-100%, 0);
  }
}

.activate {
  animation: activate 1300ms ease 1;
}
@keyframes activate {
  0% {
    background-color: #504b48;
  }
  52% {
    background-color: #504b48;
  }
  100% {
    background-color: #2954b5;
  }
}

/* PROJECT CARD ANIMATIONS */

.one-out {
  animation: one-out 700ms ease 1;
  -webkit-animation: one-out 700ms ease 1;
}
@keyframes one-out {
  0% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes one-out {
  0% {
    -webkit-opacity: 1;
    opacity: 1;
  }
  90% {
    -webkit-opacity: 1;
    opacity: 1;
  }
  100% {
    -webkit-opacity: 0;
    opacity: 0;
  }
}

.one-square {
  animation: one-square 900ms ease 1;
  -webkit-animation: one-square 900ms ease 1;
}
@keyframes one-square {
  0% {
    opacity: 1;
    width: 220px;
    border-radius: 9999px;
  }
  10% {
    border-radius: 100px;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    width: 330px;
    border-radius: 0px;
  }
  90% {
    opacity: 1;
    width: 330px;
    border-radius: 0px;
  }
  100% {
    opacity: 0;
    width: 330px;
    border-radius: 0px;
  }
}

@-webkit-keyframes one-square {
  0% {
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-width: 220px;
    width: 220px;
    -webkit-border-radius: 9999px;
    border-radius: 9999px;
  }
  10% {
    -webkit-border-radius: 100px;
    border-radius: 100px;
  }
  70% {
    -webkit-opacity: 1;
    opacity: 1;
  }
  80% {
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-width: 330px;
    width: 330px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }
  90% {
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-width: 330px;
    width: 330px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }
  100% {
    -webkit-opacity: 0;
    opacity: 0;
    -webkit-width: 330px;
    width: 330px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }
}

.two-out {
  animation: two-out 700ms ease 1;
  -webkit-animation: two-out 700ms ease 1;
}
@keyframes two-out {
  0% {
    opacity: 1;
    left: calc(50% - 110px);
  }
  90% {
    opacity: 1;
  }
  100% {
    left: 0px;
  }
}

@-webkit-keyframes two-out {
  0% {
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-left: calc(50% - 110px);
    left: calc(50% - 110px);
  }
  90% {
    -webkit-opacity: 1;
    opacity: 1;
  }
  100% {
    -webkit-left: 0px;
    left: 0px;
  }
}

.two-square {
  animation: two-square 900ms ease 1;
  -webkit-animation: two-square 900ms ease 1;
}
@keyframes two-square {
  0% {
    opacity: 1;
    left: calc(50% - 110px);
    width: 220px;
    border-radius: 9999px;
  }
  10% {
    border-radius: 100px;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    left: 0px;
    width: 330px;
    border-radius: 0px;
  }
  100% {
    opacity: 1;
    left: 0px;
    width: 330px;
    border-radius: 0px;
  }
}

@-webkit-keyframes two-square {
  0% {
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-left: calc(50% - 110px);
    left: calc(50% - 110px);
    -webkit-width: 220px;
    width: 220px;
    -webkit-border-radius: 9999px;
    border-radius: 9999px;
  }
  10% {
    -webkit-border-radius: 100px;
    border-radius: 100px;
  }
  70% {
    -webkit-opacity: 1;
    opacity: 1;
  }
  80% {
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-left: 0px;
    left: 0px;
    -webkit-width: 330px;
    width: 330px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }
  100% {
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-left: 0px;
    left: 0px;
    -webkit-width: 330px;
    width: 330px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }
}

.three-out {
  animation: three-out 700ms ease 1;
  -webkit-animation: three-out 700ms ease 1;
}
@keyframes three-out {
  0% {
    opacity: 1;
    left: calc(100% - 220px);
  }
  90% {
    opacity: 1;
  }
  100% {
    left: 0px;
  }
}

@-webkit-keyframes three-out {
  0% {
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-left: calc(100% - 220px);
    left: calc(100% - 220px);
  }
  90% {
    -webkit-opacity: 1;
    opacity: 1;
  }
  100% {
    -webkit-left: 0px;
    left: 0px;
  }
}

.three-square {
  animation: three-square 900ms ease 1;
  -webkit-animation: three-square 900ms ease 1;
}

@keyframes three-square {
  0% {
    opacity: 1;
    left: calc(100% - 220px);
    width: 220px;
    border-radius: 9999px;
  }
  10% {
    border-radius: 100px;
  }
  70% {
    opacity: 1;
  }
  77% {
    opacity: 1;
    left: 0px;
    width: 330px;
    border-radius: 0px;
  }
  100% {
    opacity: 1;
    left: 0px;
    width: 330px;
    border-radius: 0px;
  }
}

@-webkit-keyframes three-square {
  0% {
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-left: calc(100% - 220px);
    left: calc(100% - 220px);
    -webkit-width: 220px;
    width: 220px;
    -webkit-border-radius: 9999px;
    border-radius: 9999px;
  }
  10% {
    -webkit-border-radius: 100px;
    border-radius: 100px;
  }
  70% {
    -webkit-opacity: 1;
    opacity: 1;
  }
  77% {
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-left: 0px;
    left: 0px;
    -webkit-width: 330px;
    width: 330px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }
  100% {
    -webkit-opacity: 1;
    opacity: 1;
    -webkit-left: 0px;
    left: 0px;
    -webkit-width: 330px;
    width: 330px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
  }
}

.fade-in {
  animation: fade-in 1300ms linear 1;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-in-fast {
  animation: fade-in-fast 1000ms linear 1;
}
@keyframes fade-in-fast {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-instant {
  animation: fade-instant 500ms linear 1;
}
@keyframes fade-instant {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
