@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Comfortaa", Arial, Helvetica, sans-serif;
  color: #444444;
  font-size: 9pt;
  background-color: #fafafa;
}

.hide-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* ANIMATIONS */

.roll-in {
  animation: roll-in 1300ms ease 1;
}
@keyframes roll-in {
  0% {
    left: 4px;
  }
  35% {
    left: 4px;
  }
  90% {
    left: calc(100% - 224px);
  }
  100% {
    left: calc(100% - 224px);
  }
}

.roll-down {
  animation: roll-down 1300ms ease 1;
}
@keyframes roll-down {
  0% {
    transform: translateY(-80%);
  }
  35% {
    transform: translateY(-80%);
  }
  90% {
    transform: translateY(0px);
  }
}

.activate {
  animation: activate 1300ms ease 1;
}
@keyframes activate {
  0% {
    background-color: #504b48;
  }
  52% {
    background-color: #504b48;
  }
  100% {
    background-color: #2954b5;
  }
}

.bounce-in {
  animation: bounce-in 1s ease 1;
}
@keyframes bounce-in {
  0% {
    transform: translateY(0);
    border-radius: 9999px;
  }
  20% {
    opacity: 1;
    transform: translateY(-20px);
    border-radius: 6rem;
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    border-radius: 3rem;
  }
}

.bounce-out {
  animation: bounce-out 1s ease 1;
}
@keyframes bounce-out {
  0% {
    transform: translateY(0);
    border-radius: 3rem;
  }
  20% {
    opacity: 1;
    transform: translateY(-20px);
    border-radius: 6rem;
  }
  60% {
    opacity: 1;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
    border-radius: 9999px;
  }
}

.fade-in {
  animation: fade-in 1300ms linear 1;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
